div.conten{
    margin-left: 25%;
}

h3.pett{
    color: white;
}

p.pett{
    text-align: left;
    color: white;
}

img.link{
    width: 10%;
    height: auto;
}
.strack{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: thin;
}

img.bloggcont {
    width: 100%;
    height: auto
}

h1 {
    text-align: center;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: thin;
}

img.about {
    width: 50%;
    height: auto;
}

footer{
    border-top-style: solid;
    border-top-color: white;
    border-top-width: thin;
}

div.content p {
    color: white;
    font-family: sans-serif;
}

div.content h2{
    color: white;
    font-family: serif;
}

p#cf7_controls {
  text-align:center;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}
#cf7 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

img.bloggstart {
    width: 100%;
    height: auto;
}

textett {
    text-align: center;
}

div.logo {
    
    display: block;
    margin: auto;
    width: 65%;
    height: auto;
}

div.content ul {
    list-style-type: none;
    text-align: center;
}

div.navrub{
    border-bottom-style: solid;
    border-bottom-color: black;
    text-align: center;
    color: white;
    font-family: cursive;
}

div.content a {
    display: block;
    margin: auto;
    width: 40%;
}

body {
    margin: 0;
    background-color: #262423;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: dimgrey;
    position: fixed;
    height: 100%;
    overflow: auto;
    
}

ul.sidenav li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #e56904;
    color: white;
}    

div.content {
    margin-left: 25%;
    padding: 1px 16px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
